# Virtual environment
.venv/
venv/
__pycache__/
*.pyc

# Konfigurasi lokal dan file sensitif
.env
*.xlsx
*.pdf
users.csv
users_no_id.csv
app.conf
debug_slip.html

# Folder hasil slip
slips/
static/slips/
output.pdf
data/
models/

# IDE (PyCharm) dan sistem
.idea/
.DS_Store

# DB
users.db

# konfigurasi
config.py
