# Virtual environment
.venv/
venv/
__pycache__/
*.pyc

# Konfigurasi lokal dan file sensitif
.env
*.xlsx
*.pdf

# Folder hasil slip
slips/
static/slips/
output.pdf
data/

# IDE (PyCharm) dan sistem
.idea/
.DS_Store
